<div>
    <h2>Add new task</h2>
    <input type="text" #newTaskText>
    <button (click)="createTask(newTaskText.value)">Add task</button>
</div>

<ul class="tasks" style="display: block;">
    <li *ngFor="let t of tasksList" class="task">
        <div class="title">
            <input type="checkbox"><h2>{{ t.id }}</h2> <a class="delete" (click)="deleteTask(t.id);tasksList.splice(tasksList.indexOf(t),1);">x</a>
        </div>
        <div class="text">
            <p> {{ t.task }}</p>
            <button (click)="t.editing=true" class="edit-button">Edit</button>
            <div *ngIf="t.editing">
                <input name="task" [(ngModel)]="t.task">
                <button (click)="updateTask(t.id, t.task); t.editing = false">Update</button>
            </div>
        </div>
        <div class="footer">
            <p> Created: {{ t.created_at }} // Updated: {{ t.updated_at}}</p>
        </div>
    </li>
</ul>