<div>
    <h2>Add new task</h2>
    <input type="text" #newTaskText>
    <button (click)="createTask(newTaskText.value)">Add task</button>
</div>

<ul class="tasks" style="display: block;">
    <li *ngFor="let t of tasksList" class="task {{t.done}}">
        <div class="title">
            <input type="checkbox" [(ngModel)]="t.done" (ngModelChange)="updateTask(t)" >
            <select name="priority" [(ngModel)]="t.priority" (ngModelChange)="updateTask(t)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <h2>{{ t.id }}</h2> <a class="delete" (click)="deleteTask(t)">x</a>
           // done: {{t.done}}  priority: {{t.priority}} //
        </div>
        <div class="text">
            <p> {{ t.task }}</p>
            <button (click)="t.editing=true" class="edit-button">Edit</button>
            <div *ngIf="t.editing">
                <input name="task" [(ngModel)]="t.task">
                <button (click)="updateTask(t); t.editing = false">Update</button>
            </div>
        </div>
        <div class="footer">
            <p> Created: {{ t.created_at }} // Updated: {{ t.updated_at}}</p>
        </div>
    </li>
</ul>