// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.close {
  visibility: hidden;
}

.btn-edit {
  visibility: hidden;
}

.panel:hover .close {
  visibility: visible;
}

.panel:hover .btn-edit {
  visibility: visible;
}