// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

ul {
  font-family: "Arial";
  list-style: none;
}

.tasks .title {
  background: yellow;
  padding: 0 5px 0;
}

.tasks .footer {
  font-size: 10px;
  color: gray;
  text-align: right;
  padding-bottom: 2px;
}

.tasks .task {
  margin: 2px;
  padding: 2px;
  border: 1px solid gray;
}

.tasks .delete {
  padding: auto;
  text-align: center;
  padding-top: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  float: right;
}

.tasks .delete:hover {
  background: orange;
}

.tasks h2 {
  display: inline-block;
  margin:  0; padding: 0;
}

.tasks p {
  margin: 0; padding: 10px;
}

button {
  display: block;
}

.tasks .true {
  background: gray;
}
